<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %> 
    <title>Document</title>
</head>
<body>
    <%= user.name %> 
    <a href="/api/users/profile">profile</a>
    <a href="/api/admin/add-card">add card </a>
</body>
</html>