<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %> 
    <title>Document</title>
</head>
<body class="home-body">
    <% include ../partials/nav %> 

        <a href="/api/users/profile">profile</a>
        <a href="/api/admin/add-card">add card </a>
    </div>
</body>
</html>