<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>

        <h1>Update Profile</h1>
        <form action="/api/users/update-profile?_method=PUT" method="POST">
            <input type="text" name="name" id="update-name" placeholder="Name">
            <input type="text" name="" id="email" placeholder="Email">
            
        </form>
    </div>

    <hr />

    <div>
        
    </div>
</body>
</html>