<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %> 
    <title>Document</title>
</head>
<body class="nav-body">
    <nav id="nav-3">
        <a class="link-3" href="/api/users/home">Home</a>
        <a class="link-3" href="#">Packs</a>
        
        
        <% if (!user) { %>
        <span class="myRegisterNav">
          <a class="link-3" style="color:white;" href="/api/users/register">Register</a>/<a
           
            href="/api/users"
            >Login</a
          ></span
        >
    
        <% }else{ %>
        <span style="color:antiquewhite" class="myNavGreeting"
          >Hello &nbsp;<a class="link-3" href="/api/users/profile" 
            ><%= user.profile.name.toUpperCase() %>
          </a></span
        >
        <span style="margin: 0 10px;background-color:green; border-radius:10px;">
          <a style="text-decoration:none;height:20px; width: 20px; " href="/api/cart">
            <i style="font-size:1.2em;color:white;padding-left:10px;" class="fa fa-shopping-cart"></i>
            <span style="font-size:1.2em;color:white;padding-right:10px;"></span>
          </a>
    </span>
        <span class="myNavLogout"
          ><a style="color:beige" href="/api/users/logout">Logout</a></span
        >
        <% } %>
      </div>
      </nav>
      
</body>
</html>
  