<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %> 
    <title>Document</title>
</head>
<body class="nav-body">
    <nav id="nav-3">
        <a class="link-3" href="/api/users/home">Home</a>
        <a href="/api/admin/delete-hero" class="link-3">Delete Hero</a>
        
        
          
        <a class="link-3" href="/api/admin/add-pack">Add a pack</a>
        
        <% if (!user) { %>
        <span class="myRegisterNav">
          <a class="link-3" style="color:white;" href="/api/users/register">Register</a>/<a
           
            href="/api/users"
            >Login</a
          ></span
        >
    
        <% }else{ %>
        <span style="color:antiquewhite" class="myNavGreeting"
          >Hello &nbsp;<a class="link-3" href="/api/users/profile" 
            ><%= user.profile.name.toUpperCase() %>
          </a></span
        >
        
        <span class="myNavLogout"
          ><a style="color:beige" href="/api/users/logout">Logout</a></span
        >
        <% } %>
      </div>
      </nav>

      
      
</body>
</html>
  