<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/addPack.css" type="text/css">
    <title>Delete</title>
</head>
<body>
    <% include ../partials/nav %> 
    <h1 class="delete-h1" style="color: red;">Type the name of the poor soul to be damned</h1>
    <form action="/api/admin/delete-card?_method=DELETE" method="POST">
    <input type="text" name="name" placeholder="Damned Soul">
    <input type="submit">
    </form>
</body>
</html>
