<!DOCTYPE html>
<html lang="en">
<head>
   <% include ../partials/head %> 
    <title>Document</title>
</head>
<body id="login-body">
    <header id="header">
        <div class="vert-text">
          <div class="p-img">
          <img src="https://res.cloudinary.com/pashagord/image/upload/v1468545314/Portfolio/logos/codepen_logo.png"/>
      </div>
                  <h1 id="typer-size">                
                      <!-- TEXTS -->
                      <span id="typed"></span>
                      <div id="typed-strings">
                          <p>Welcome</span> </p>
                          <p>This is where your collection of the finest heroes begins</p>
                          <p><span class="#">“Nevermore shall men make slaves of others! Not in Asgard--not on Earth--not any place where the hammer of Thor can be swung--or where men of good faith hold freedom dear!”
                            ― Stan Lee</span></p>
                          >
                          
                      <!-- TEXTS ENDS -->
                  </h1>
                  <!-- TITLE -->
                  
          
          <a href="#contacts" class="scroll-down nav-link"></a>
        </div>
      </header class="landing-header">
      <!-- FOOTER  -->
      <footer id="contacts">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
              <h3 class="zayn">Login/Register to begin</h3>
                      <hr class="style17">
      <!-- 		FORMS		 -->
                  <form action="/users/login" method="POST">
                    <input name="name" type="text" placeholder="Enter  Name"/><br>
                    <input name="email" type="text" placeholder="Enter email"/><br>
                    <input name="password" type="text" placeholder="Enter Password"/><br>
                      <button type="submit">login</button>
                  </form>

                  <a href="api/users/register">Don't have an account? Create one!</a>
              <p>CODEPEN</p>
            </div>
          </div>
        </div>
      </footer>
      
      
      <!-- FOLLOW -->
      <a class="Follow" href="https://github.com/hectorcarrasco1992/" target="blank_"></a>
      
</body>
</html>
